pkgbase = hibr
	pkgdesc = Small, fast bash-flavoured shell with nested maps, JSON, and native networking
	pkgver = 0.97
	pkgrel = 1
	url = https://github.com/osakka/hibr
	install = hibr.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = openssl: TLS -- /dev/tls and https
	optdepends = libpng: pictures in the img module and desktop wallpapers
	source = hibr-0.97.tar.gz::https://github.com/osakka/hibr/archive/refs/tags/v0.97.tar.gz
	sha256sums = 9b6839a0f1d7ebdbca27d32ca9fe9570b104cffb988be792d88ce6d61b6798fb

pkgname = hibr
